# iNaturalist API of 10 species from 2016
##### Script to get API data from select species
##### with help from JJARvis, as well as team ETJ

In [ ]:
import requests
import json
import pandas as pd

#### Imported necessary libraries, used pandas to create the dataframe

In [30]:
ids = ['48662', '49348', '129362', '68263', '49150', '50072', '50931', '48548', '50340', '51743']
month_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
month_name = ["January", "February", "March", "April", "May", "June", "July", "August",
              "September", "October", "November", "December"]
list = []
for i in ids:
    monthlist = []
    for j in month_num:
        earl = "http://api.inaturalist.org/v1/observations?taxon_id={}&month={}&year=2016".format(i,j)
        r = requests.get(url = earl)
        x = json.loads(r.text)
        monthlist.append(x['total_results'])
    list.append(monthlist)
df = pd.DataFrame(list, index = ids, columns = month_name)
print(df)

        January  February  March  April  May  June  July  August  September  \
48662       102       175    266    304  216   224   416     742        984
49348         1         6     73     59   43    26    67      70         50
129362        3         1      1      7    4     4     9      13         48
68263         0         2      4     11   14    33    32      32         31
49150        29        33     42     80   88    97   192     243        348
50072         1         5     10      9   18    40    54     104         73
50931         4        29     16    128   99   100   123     162        219
48548        12        24     32     61   47    97   121      86         76
50340         5        11     40     72   65   117   148     223        292
51743        15         9     12     20   31    55    92     118        201

        October  November  December
48662      1249       584       265
49348        16         5         1
129362       87       109        20
68263        21         5         3
49150       698       387        75
50072        76        12         3
50931       240        29         2
48548       104       164        38
50340       279       128        17
51743       364       244        82

#### Created a list of lists to be used as data for the dataframe. Iterated over each id, and then iterated over the month for each id. Appended the total number of results for each json into a list.